#calc{
    border: 2px solid rgb(187, 183, 183);
    border-radius: 5px;
    width:200px;
    background-color: plum;
}
#display{
    margin:10px;
    width:88%;
    font-size: 30px;
    background-color: papayawhip;
}
.btn_container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
 width: 45px;
 height: 45px;   
 margin:3px;
 background-color: pink;
}